//Variables
$Width: 800px;
$FontSize: $Width / 10;
$Color: rgb(255, 102, 0);
$ColorLight:rgb(255, 201, 121);
$Background1:rgb(255, 201, 121);
$Background2:rgb(236, 236, 236);


//Media Queries

@media(min-width: $Width){
    #header { 
        h1{      
            font-size: $FontSize;  
        }

        h3{      
            font-size: $FontSize/2;  
        }
    }

    #navbar{
        a{
            font-size: $FontSize/2;
        }

        .navbar-subitem ul a{
            font-size: $FontSize/3;
        }
    }

    #footer{
        h1{
            font-size: $FontSize/3;
        }
    }
}

@media(max-width: $Width - 1){
    #header {  
        h1{      
            font-size: $FontSize/2;  
        }

        h3{      
            font-size: $FontSize/4;  
        }       
    }

    #navbar{
        a{
            font-size: $FontSize/4;
        }

        .navbar-subitem ul a{
            font-size: $FontSize/6;        
        }
    }

    #footer{
        h1{
            font-size: $FontSize/6;
        }
    }
}

//CSS

#header, #footer{
    padding: 20px;
    background-color: $Background2;
    text-align: center;

    h1,h3{
        color: $Color;
    }
}

#footer{
    margin-top: 5px;
}

#grid{
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 20% auto;
}

%common{
    margin-top: 5px;
    border: 1px solid $Color;

    ul,li{
        list-style: none;
        padding: 0px;
    }

    a{
        text-decoration: none;
        color: $Color;
        padding: 5px;
    }
}

#navbar{
    @extend%common;
    background-color: $Background1;

    li:hover{
        background-color: $Color;
        a{
            color: $ColorLight;
        } 
    }

    .navbar-subitem{
        ul{
            display: none;
        }          
    }

    .navbar-subitem:hover{ 
        ul{
            display: block;
            background-color: $Background1;

            a{
                color: $Color;
            }

            a:hover{
                color: $ColorLight;
            }
        }      
    }
}

#content{
    @extend%common;   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .content-item{
        border: 1px solid $Color;
        margin: 10px;
        font-size: $FontSize/3; 
        width: 21%; 
        min-width: 200px;
        max-width: 300px;
        min-height: 100px;
        max-height: 200px;
        text-align: center;
    }
}





