{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row gx-5">
        <div class="col-4">
            <h1>{{ auction.title }}</h1>
            <h4>{{ auction.description }}</h4>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-6">
            <img class="img-fluid" src="{{ auction.image.url }}" alt="{{ auction.title}}">
            <h5>Category: {{ auction.category }}</h5>
            <h5>Author: {{ creator }}</h5>
        </div>
        <div class="px-5 col-6">
            {% if auction.active %}
                <h3>Current price:</h3>
                <h4>{{ auction.current_price }} €</h4>
            {% else %}
                <h3>Final price:</h3>
                <h4>{{ auction.final_price }} €</h4>
            {% endif %}
            {% if user.is_authenticated and auction.active %}
                <form action="{% url 'auction' auction.id%}" method="post">
                    {% csrf_token %}
                    <div class=" px-0 input-group col-3" >
                        {{ error }}
                        <input type="number" name="value" class="form-control" min="{{ minbid }}" id="">
                        <h3>€</h3>
                    </div>
                    <input type="submit" class="btn btn-primary btn-sm" value="Place Bid" name="bid">
                </form>
            {% elif user == winner %}
                <h2>You are the WINNER!</h2>
            {% endif %}
            {% if user.is_authenticated %}
                <form action="{% url 'auction' auction.id%}" method="post">
                    {% csrf_token %}
                    <div class="py-1 px-3 row">
                        {% if watchlist %}
                            <input type="submit" class="btn btn-danger" value="Remove from Watchlist" name="rem">
                        {% else %}
                            <input type="submit" class="btn btn-success" value="Add to Watchlist" name="add">
                        {% endif %}
                    </div>
                    <div class="py-1 px-3 row">
                        {% if user == creator and auction.active %}
                            <input type="submit" class="btn btn-danger" value="Close Auction" name="close">
                        {% endif %}
                    </div>
                </form>
            {% endif %}            
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-6">
            {% if user.is_authenticated %}
                <div class="px-3 row">
                    <div class="form-group">
                        <h2>New Comment</h2>
                        <form action="{% url 'auction' auction.id%}" method="post">
                            {% csrf_token %}
                            {{ commentForm }}
                            <div class="py-2">
                                <input type="submit" class="btn btn-primary" value="Comment" name="comment">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        
        <div class="px-5 col-6">
            {% if comments %}
                <h2>Comments</h2>
                {% for comment in comments %}
                    <h4>{{ comment.user }}</h4>
                    <p>{{ comment.text }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}