textarea {
    min-height: 400px;
}

.email_sender, .email_subject, .email_time{
    margin:5px;
}

.email_sender{
    font-weight: bold;
}

.email_sender2, .email_recipients2, .email_subject2, .email_time2, .email_body2{
    font-weight: lighter;
}


.email_subject{
    font-weight: lighter;
}

.email_time{
    font-weight: lighter;
    float:right;
}

#email{
    margin-top:10px;
    padding:5px;
    border:1px solid black;
    width: 100%;
}


